*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    }
    
    body{
      display: grid;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background: #212529;
    
    }
    .nes-text{
        text-align: center;
        font-size: 100px;
    }
    .nes-container{
        width: 1200px;
    }
    .nes-btn{
        width: 300px;
        color: #fff;
        background: #212529;
        border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
    }
    .nes-btn::after {
    
        box-shadow: inset -4px -4px #3d4144;
      }
    .menu{
        display: grid;
        gap: 30px;
        justify-content: center;
    }
    .menu a{
        color: white;
    }
    @media only screen and (max-width: 1200px) {
        .nes-text{
            font-size: 70px;
        }
        .nes-container{
            width: 800px;
        }
      }
      @media only screen and (max-width: 800px) {
        .nes-text{
            font-size: 30px;
        }
        .nes-container{
            width: 350px;
        }
        body{
            height: 90vh;
          
          }
      }

    
    
    